.custom-swiper .swiper-slide {
  width: 274 !important;
  height: 264px !important;
  @apply md:mr-5;
}
.custom-swiper .swiper-wrapper {
  @apply !my-18;
}
@media (max-width: 768px) {
  .custom-swiper .swiper-slide {
    width: 270px !important;
    height: 380px !important;
  }
}
@import "tailwindcss";

.swiper-pagination {
  @apply hidden md:flex justify-end items-center absolute !w-[40%] z-50 !left-[345px]  !bottom-[94px];
}
.swiper-pagination-bullet {
  @apply !h-[7px] !w-[7px] !bg-[#1E1E1E] !opacity-100;
}

.swiper-pagination-bullet-active {
  @apply !bg-[#f0e74d] !h-[12px] !w-[12px];
}

.custom-swiper .swiper-pagination-progressbar {
  position: relative !important;
  bottom: -46px !important;
  height: 4px !important;
  left: -40px !important;
  background: #2a2a2a;
  border-radius: 9999px;
  width: 80% !important;
}
.custom-swiper .swiper-pagination-progressbar-fill {
  background: #f0e74d !important;
  border-radius: 9999px;
  transition: transform 0.2s linear;
}
